
@model IEnumerable<PostViewModel>

@{
    ViewData["Title"] = "Home";
}
<style>

    .main-home {
        margin-left: 25%;
        margin-right: 25%;
    }

    .preview-post {
        margin-top: 20px;
    }

    #cover {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<div id="cover">
    <img src="~/content/static/Cover.jpg" width="100%" />
</div>
<div class="main-home">

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <a  asp-action="Details" asp-controller="Home" asp-route-id="@item.Id"><h1 class="card-title">@item.PostName</h1></a>
                            <span class="card-text text-muted" style="
                                       background: black;
                                       color: white !important;
                                       margin: inherit;
                                       padding: 0.4em;
                                       letter-spacing: 3px;
                                       font-family: 'Times New Roman', Times, FreeSerif, serif;
                                       font-size: 12px;
                                       font-weight: bold;
                                       text-transform: uppercase;
                                   ">
                                @item.TimeStamp.ToString("dddd, dd MMMM yyyy")
                            </span>
                        </div>
                        <div class="card-body">
                            @*<h5 class="card-title text-black-50">@Model.PostDescription</h5>*@
                            <p class="card-text">
                                @Html.Raw(item.Content)
                            </p>
                        </div>
                        @*<div class="card-footer text-muted">
                                @item.TimeStamp.ToString("dddd, dd MMMM yyyy")
                            </div>*@
                    </div>
                </div>
            </div>
            <hr><hr><hr><hr><hr>
        }

    </div>

</div>
